body {
    /*background-image: url("imagens/fundo.gif");*/
    background-color:#00BFFF;
    font: normal 13px Georgia, "Times New Roman", Times, serif;
}

#page {
    width: 980px;
    margin: 0 auto;
    background-color: #87CEFA;
}

#header{

    height: 200px;
    width: 980px;
    background-color: #87CEFA;
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    /*background-position: center;*/
    color: #FFFFFF;
}

/*Login*/
#login {
    margin: 28px 10px 10px 10px;
    height: 100px;
    width: 170px;
    float: right;
    padding: 10px;
}

#login label{
    width: 200px;
    font-size: 10pt;
    text-align: left;
    display: block;
}

#login label input{
    width: 160px;
    display: block;
    font-size: 8pt;
}

#login button{
    display: block;
    margin-top: 5px;
    margin-right: 10px;
    float: right;
    font-size: 10pt;
}

/*Conteudo*/
#content{

    height: 520px;
    background: #000000;
    background-image: url("../img/fundoHome.jpg");
    background-repeat: no-repeat;
    text-align: left;
    padding: 25px;

}
#conteudo {
    overflow:hidden;
    width:600px;
    margin:0 auto;
    padding:10px 10px 10px;
    border:0px ;
    text-align:left;
}
/*div do rodap�*/
#rodape{

    width:983px;
    background-color: #87CEFA;
    margin-left: 213px
}
#rodape  span{
    font-weight: bold;
}
#rodape p{
    margin:0px;
    padding-top: 30px;
    font-family: Arial;
    text-align: center;
}


select {
    width: 200px;
}

a {
    font-size: 14px;
}

h1 {
    text-align: center;
    color: #000000;
}

h3{
    padding-bottom: 10px;
    color:  #FF5500;
}

p {
    padding-bottom: 5px;
    font-size:16px;
    text-indent: 1cm;
}

p + h3 {
    padding: 8px;
}

ol {
    font-size: 8px;
    line-height: 2;
    padding-left: 15px;
    font-size: 14px;
}

h2 {
    color: #FF5500;
    padding-top: 9px;
}
table {
    padding-bottom: 5px;
    font-size:14px;
    text-indent: 1cm;
    width: 600px;
}

img{
    float:center;
    width: 400px;
    height: 100px;
}